@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --main-color: #c77dff;
    --bg-color: #0b001a;
    --heading-font: "Cinzel", sans-serif;
    --secondary-font: "Playfair Display", sans-serif;
    --text-font: "Poppins", sans-serif;
}


::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

body {
    background: linear-gradient(135deg, #0b001a, #1a0b3b, #240046);
    min-height: 220vh;
    overflow-x: hidden;

}

.bg-stars {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 120px 120px, 150px 150px, 200px 200px;
    opacity: 0.6;
    z-index: -1;
}

@keyframes moonfloat {

    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 30px);
    }
}

.moon {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120px;
    animation: moonfloat 4s ease-in-out infinite;
    text-shadow: 0 0 20px rgba(255, 255, 255, .4);
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    margin-top: 6rem;
}

.main h1 {
    padding: 0 2rem;
    font-size: 65px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-shadow: 0 0 20px rgba(255, 255, 255, .4);
}

.main p {
    padding: 0 4rem;
    font-size: 27px;
    font-family: var(--secondary-font);
    margin-top: 1rem;
    opacity: 0.9;
}

.about {
    padding: 120px 20px;
    text-align: center;
}

.about h2 {
    font-size: 35px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-shadow: 0 0 20px rgba(255, 255, 255, .4);
}

.about p {
    font-size: 18px;
    padding: 0 4rem;
    font-family: var(--text-font);
    margin-top: 0.8rem;
    opacity: 0.85;
}

.wishes {
    padding: 120px 80px;
}

.wishes h2 {
    font-size: 35px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-shadow: 0 0 20px rgba(255, 255, 255, .4);
}

.wishes h5 {
    font-size: 22px;
    font-family: var(--text-font);
}

.wishes p {
    font-size: 17px;
    font-family: var(--text-font);
    opacity: 0.85;
}

.cards {
    background: rgba(255, 255, 255, .06);
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    transition: 0.4s;
    color: white;
    text-align: center;
    padding: 30px;
}

.cards:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 40px rgba(0, 0, 0, .7);
}

.icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: #c77dff;
    transition: 0.3s;
}

.cards:hover .icon {
    transform: scale(1.2);
    color: white;
}

.footer {
    background: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}

.footer p {
    font-size: 17px;
    font-family: var(--text-font);
}

.footer strong {
    color: #c77dff;
}

@media (max-width: 992px) {

    .wishes {
        padding: 120px 20px;
    }

    .cards {
        padding: 20px;
    }

    .about p {
        padding: 0 2.5rem;
    }

    .main {
        margin-top: 5rem;
    }
}

@media (max-width: 768px) {

    .main h1 {
        font-size: 55px;
    }

    .main p {
        font-size: 23px;
    }

    .moon {
        font-size: 100px;
        top: 50px;
    }

    .wishes {
        padding: 120px 50px;
    }

    .main {
        margin-top: 4rem;
    }
}

@media (max-width: 650px) {
    .main h1 {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .main h1 {
        font-size: 42px;
        flex-wrap: wrap;
    }

    .main p {
        font-size: 21px;
    }

    .about p {
        padding: 0 1rem;
    }

    .moon {
        font-size: 90px;
    }

    .main {
        margin-top: 2rem;
    }

    .icon {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .main h1 {
        font-size: 38px;
    }

      .moon {
        font-size: 80px;
        top: 40px;
    }

    .main p {
        font-size: 20px;
        padding: 0 2rem;
    }

    .about h2 {
        font-size: 32px;
    }

    .about p {
        font-size: 16px;
        padding: 0 0.5rem;
    }

    .wishes h2 {
        font-size: 32px;
    }

    .wishes h5 {
        font-size: 20px;
    }

    .wishes p {
        font-size: 16px;
    }

    .footer p {
        padding: 0 1.5rem;
    }
}

@media (max-width: 333px) {
    .main h1 {
        font-size: 36px;
    }

    .moon {
        font-size: 80px;
        top: 40px;
    }

    .main p {
        font-size: 18px;
        padding: 0 1rem;
    }

    .about h2 {
        font-size: 28px;
    }

    .about p {
        font-size: 16px;
        padding: 0 0.1rem;
    }

    .wishes h2 {
        font-size: 25px;
    }

    .wishes h5 {
        font-size: 17px;
    }

    .wishes p {
        font-size: 15px;
    }

    .wishes {
        padding: 120px 20px;
    }

    .icon {
        font-size: 25px;
    }

    .footer p {
        font-size: 16px;
        padding: 0;
    }
}